temp
__pycache__
results
tmp

cameraready
generated
denoise_samples
text_samples
img_samples
logs
samples
saved_ckpt
shape_comp_samples
tsne_samples
uncond_vis


launchers/eval_comp.sh
launchers/eval_uncond.sh
demo_denoise.ipynb
demo_imgdf.ipynb
demo_shape_comp.ipynb
demo_single_view_recon.ipynb
demo_textdf.ipynb
demo-lang-conditional.ipynb

latent_infer
datasets/bedroom256.lmdb
datasets/horse256.lmdb
datasets/celebahq
datasets/celebahq256.lmdb
datasets/ffhq
datasets/ffhq256.lmdb
datasets/celeba.lmdb
datasets/celeba
checkpoints
models/checkpoints.zip
arcface_checkpoint.tar
models/people/
__pycache__
.ipynb_checkpoints/